body {
  background-image: url('../images/nutritrack-background.jpg'); /* Replace with your image URL */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0; /* Removes default margin */
  height: 100vh; /* Ensures the body takes up the full viewport height */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffd300;
  --bs-btn-border-color: #ffd300;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #c5ae00;
  --bs-btn-hover-border-color: rgb(197, 174, 0);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000000;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-card {
  background: transparent;
  padding: 40px;
  border-radius: 15px;

  width: 100%;
  max-width: 400px;
}

.login-message {
  text-align: center;
  margin-bottom: 20px;
}

.login-message h2 {
  font-size: 36px;
  color: #ffd300;
  margin-bottom: 10px;
  font-weight: bold;
}

label{
  color: #ffd300;
}

.login-button {
  width: 100%;
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  background: #ffd300;
  color: #000000;
  border: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login-button:hover {
  background: #c5ae00;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 31, 61, 0.2);
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: underline;
}

.form-control {
  border: 2px solid #c5ae00;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #ffd300;
  box-shadow: none;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgb(255, 211, 0) !important;
}

@media (max-width: 768px) {
  .login-container {
    padding: 10px;
  }
}
